{
  "name": "docker-group",
  "online": true,
  "storage": {
    "blobStoreName": "default",
    "strictContentTypeValidation": true
  },
  "group": {
    "memberNames": [
      "base-docker",
      "ghcr.io-proxy",
      "quay.io-proxy"
    ]
  },
  "docker": {
    "v1Enabled": false,
    "forceBasicAuth": false,
    "httpPort": {{ docker_group_listening_port }},
    "httpsPort": null
  }
}