gitlab-rails console -e production <<-EOF
user = User.where(id: 1).first
user.password = '{{ server_password }}'
user.password_confirmation = '{{ server_password }}'
token = user.personal_access_tokens.create(scopes: [:api], name: 'apitoken')
token.set_token('{{ server_token }}')
token.save!
user.save!
EOF
